<nav class="head-bar">
    <h1><a href="#">Mero Bazzar</a></h1>
    <div class="search-bar">
        <input type="text" placeholder="Type your product">
        <button class="btn">Search</button>
    </div>
    <ul class="list">
        <li class="left-list"> <a routerLink=""> Home </a> </li>
        <li class="left-list"> <a routerLink="menu">Menu </a> </li>
        <li class="left-list"> <a routerLink="signin">Sign in </a> </li>
        <li class="left-list"> <a >Cart </a> </li>
        <li class="left-list"> <a routerLink="logout">Log Out </a> </li>
    </ul>
</nav>

