/* Body Part Css */

.body {
 
  display: flex;
  width: 100%;
  flex-direction: row;
}

h3,
.note {
  font-family: heading;
  text-align: center;
  padding-top: 5px;
  color: #390a38;
}


/* carousel part css  */

.picsum-img-wrapper img {
  width: 100%;
  height: 520px;
}

.carousel-caption h1 {
  font-family: heading;
  margin-bottom: 0px;
  background-image: linear-gradient(
    to left,
    #15bf00 0%,
    rgb(39 0 255 / 82%) 100%
  );
  background-clip: text;
  color: transparent;
}
.carousel-caption p {
  color: #541c1c;
  font-size: 20px;
  margin-bottom: 195px;
}

/* middle body css*/

.middle {
  width: 100%;
  height: 532px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: 2;
}
.middle-left {
  width: 50%;
}
.middle-left h1 {
  margin-top: 90px;
  text-align: center;
  color: #1c144e;
  font-family: heading2;
  font-weight: 700;
}
.middle-left h4 {
  padding-left: 160px;
  margin-top: 30px;
  color: #322b63;
  cursor: pointer;
}

.middle-left p {
  padding-left: 160px;
  color: #777;
  line-height: 26px;
}
.middle-right {
  width: 50%;
  height: 600px;
}

.middle-right img {
  width: 60%;
  height: 450px;
  border-radius: 20px;
  position: relative;
  left: 110px;
  top: 70px;
  box-shadow: 15px 15px 15px rgb(18, 69, 87);
  transition: .4s ease-in-out;
  cursor:grab;
}
 
.middle-right:hover img {
  transform: scale(1.1);
}

.circle {
  width: 13%;
  height: 200px;
  position: relative;
  top: -50px;
  left: 587px;
  border-radius: 100%;
  background: #fff;
  z-index: 1;
}

/*Payment section*/
 .payment{
  height: 200px;
  width: 100%;
  background-image: linear-gradient(
    to left, #15bf0073 0%, rgb(39 0 255 / 40%) 100% );
  position: relative;
  z-index: 3;
  margin-top: 370px;
 }
 .payment h3{
  padding-top: 15px;
 }
 .pay-img{
  padding: 7px;
  
 }
 .payment .img1{
  height: 120px;
  width: 10%;
  margin-left: 120px;
  cursor: pointer;
 }
 .payment .img2{
  height: 90px;
  margin-left: 90px;
  cursor: pointer;
  
 }
 .payment .img3{
  height: 46px;
  width: 10%;
  margin-left: 80px;
  cursor: pointer;

 }
 .payment .img4{
  height: 80px;
  margin-left: 80px;
  cursor: pointer;

 }
 .payment .img5{
  height: 50px;
  margin-left: 60px;
  cursor: pointer;
  
 }
 



/* Banner part*/
.banner{
  
  margin-top: 50px;
  width: 100%; 
  height: 250px;
  background: url(../../assets/online1.jpg);
  background-size: cover;
  background-position: center 0;
 
}


/* advantage icons*/
.icon-img1{
  width: 7%;
  height: 84px;
  position: absolute;
  left: 45px;
  top: 165px;
}

.icon-img2{
  width: 8%;
  height: 117px;
  position: absolute;
  left: 45px;
  top: 250px;
}

.icon-img3{
  width: 7%;
  height: 84px;
  position: absolute;
  left: 45px;
  top: 365px;
}

.icon-img4{
  width: 7%;
  height: 84px;
  position: absolute;
  left: 45px;
  top: 485px;
}
/* hover effect*/
.hvr:hover {
  opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
  }
}

/*Promot css*/

.promot{
  width: 100%;
  height: 500px;
  position: relative;
  margin-top: 10px;
}
.promot h2{
  text-align: center;
  color: #1c144e;
  font-family: heading;
  font-weight: 700;
  position: relative;
  top: 10px;
}
.promot p{
  text-align: center;
  color: #777;
  position: relative;
  top: 5px;
}

.p-img1{
  position: absolute;
  left: 30px;
  top: 120px;
}
.p-img2{
  position: absolute;
  left: 679px;
  top: 120px;
}

/*carosal css*/

.picsum-img-wraper img{
  height: 0px;
}

.carousel-bott{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.carousel-caption, h4, h6{
  color: #1c144e;
}
.c-left{
  width: 50%;
  
}
.c-right{
  width: 50%;
  

}
.c-left img{
  margin-left: 230px;
}
.c-right img{
  margin-left: 230px;
}
.c-left h4, h6 {
  margin-left: 240px;
}
.c-right h4, h6 {
  margin-left: 220px;
}

/*footer css*/
.contact{
  width: 100%;
  height: 400px;
  background-color: #777;
  background: url(../../assets/footerimg.png);
  background-size: cover;
  background-position: center ;
}
.contact img{
  width: 15%;
}
.topic{
  display: flex;
  color: white;
  
}
.topic1{
  width: 25%;
  text-align: right;
}
.topic2{
  width: 25%;
  text-align: center;
  color: rgb(143, 113, 113);
  
}
.topic3{
  width: 25%;
  border-left: 1px solid grey;
  text-align: center;
  font-size: 18px;
}
.topic4{
  width: 25%;
 border-left: 1px solid grey;
  text-align: center;
}
.topic1 .head{
  font-size: 23px;
  font-family: cursive;
  color: #b1f3ef;
}
.topic1 span{
  color: yellow;
}
.topic1 p{
  color: rgb(124, 122, 122);
  font-size: 18px;
}
.head{
 font-size: 25px;
 font-family: cursive;
  color: #b1f3ef;
}
.topic2 ul li{
  list-style: none;
  text-align: right;
  cursor: pointer;
  font-size: 18px;
}
.topic2 span{
  color: #fff;
  font-style: italic;
  font-size: 16px;
}
.span{
 
  color: rgb(124, 122, 122);
  text-align: right;
}
.fab{
  color: rgb(196, 196, 196);
  font-size: 20px;
}
.social-media ul li{
  list-style: none;
  display: inline;
  padding-right: 23px ;
  font-size: 38px;
  color: darkgray;
  cursor: pointer;
}
.copyright{
  color: #fff;
  position: absolute;
  right: 10px;
  font-size: smaller;
}
.last-box{
  display: flex;
  justify-content: space-between;
  width: 60%;
  height: 70px;
  position: absolute;
  top: 347%;
  left: 23%;
  background-color: #fff;
  border-radius: 0% 7% 0% 7%;
}
.left p{
  font-size: 18px;
  color: #390a38;
  position: absolute;
  top: 35px;
  left: 12px;
  
}
.left h4{
  position: absolute;
  left: 12px;
  top: 5px;
  font-weight: 700;
  color: #390a38;
}
.right{
  position: absolute;
  right: 110px;
  top: 20px;
}
.btn{
  position: absolute;
  left: 80%;
  top: 17px;
}