<!--body part-->

<!-- <div class="body">
    <div class="body-left">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium sint molestias nulla voluptatem,
        reprehenderit totam corporis temporibus unde? Perferendis doloribus laboriosam tenetur corrupti delectus,
        quas voluptate vel ipsum atque labore, eaque odit eum. Ad corrupti rem exercitationem voluptatem quam
        natus reiciendis iusto quis in, temporibus repudiandae atque consectetur
        a molestias dolore illum? Temporibus, tenetur ipsa culpa necessitatibus repellendus illo blanditiis.</p>
    </div>
     <div class="body-right">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam voluptatum vero officia, molestias ea expedita a
        aperiam
        atque exercitationem cumque debitis suscipit deserunt eum facere enim veritatis dignissimos
        fugiat nostrum!</p>
    </div> 
</div> -->


<div class="contain">

	<h3 class="note">Thank you for choosing Mero Bazzar, and we hope you have a great shopping experience. </h3>
	<ngb-carousel class="carousel-class">
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img src="assets/images/img3.jpg" alt="Random first slide">
			</div>
			<div class="carousel-caption">
				<h1>Shop the latest trends at unbeatable prices.</h1>
				<p>Mero Bazzar - your one-stop destination for all your shopping needs.</p>
			</div>
		</ng-template>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img src="assets/images/img2.jpg" alt="img2">
			</div>
			<div class="carousel-caption">
				<h1>Get everything you need for your next adventure.</h1>
				<p>Mero Bazzar - your one-stop destination for all your shopping needs.</p>
			</div>
		</ng-template>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img src="assets/images/img1.jpg" alt="Random third slide">
			</div>
			<div class="carousel-caption">
				<h1>Find your perfect outfit with us.</h1>
				<p>Mero Bazzar - your one-stop destination for all your shopping needs.</p>
			</div>
		</ng-template>
	</ngb-carousel>

	<div class="middle">
		<div class="middle-left">

			<h1>Discover The Advantages</h1>
			<h4>No need to visit physical store</h4>
			<p>can shop online from the comfort of their own home</p>
			<h4>Easy price comparisons</h4>
			<p>access to a wide range of products, competitive prices, and a user-friendly interface.</p>
			<h4>Privacy for discreet purchases</h4>
			<p>offer secure payment options and customer support to assist users with any questions.</p>
			<h4>No crowds</h4>
		</div>
		<div class="middle-right">
			<img src="assets/homeimg/rider.jpg" alt="img">
		</div>
		<img class="icon-img1 hvr" src=" assets/adv/odering edit.png" alt="">
		<img class="icon-img2 hvr" src=" assets/adv/compare edit.png" alt="">
		<img class="icon-img3 hvr" src=" assets/adv/security edit.png" alt="">
		<img class="icon-img4 hvr" src=" assets/adv/crwd edit.png" alt="">
	</div>
	<div class="circle"></div>

</div>

<div class="payment">
	<h3>Payment Method</h3>
	<div class="pay-img">
		<img class="img1" src=" assets/pay/Removal-420.png" alt="COD">
		<img class="img2" src=" assets/pay/connect ips.png" alt="cod">
		<img class="img3" src=" assets/pay/Visa.png" alt="visa">
		<img class="img4" src="assets/pay/kisspng-esewa-fonepay.png" alt="cod">
		<img class="img5" src="assets/pay/fonepay_payments_fatafat.png" alt="cod">
	</div>

</div>

<div class="banner">

</div>

<!--why choose us -->
<div class="promot">
	<div>
		<h2>Why Choose Us Mero Bazzar </h2>
		<p>With a wide selection of products and great deals, Mero Bazzar is the perfect choice for savvy
			shoppers</p>
	</div>

	<div>
		<ngb-carousel class="carousel-class">
			<ng-template ngbSlide>
				<div class="picsum-img-wraper">
					<img src="assets/promotion/white.jpg" alt="Random first slide">
				</div>
				<div class="carousel-bott">
					<div class="c-left">
						<img src="assets/promotion/mee.png" alt="image">
						<p>Mero Bazzar has the potential to be a game-changer in the e-commerce industry. We have
							 a strong vision for the future, and I am confident that our team can execute on this 
							 vision to bring value to our customers and shareholders.
						</p>
						<h4>Bhawani Bist</h4>
						<h6>(CEO Mero Bazzar Pvt Ltd.)</h6>
					</div>

					<div class="c-right">
						<img src="assets/promotion/img (1).png" alt="image">
						<p>Mero Bazzar is well-positioned to take advantage of the growing e-commerce market.
							 Our operations are running smoothly, and we have the necessary resources in place
							  to support our growth. I am excited about the potential for Mero Bazzar to become
							   a leading player in the industry.
						</p>
						<h4>Aaradhya Pandey</h4>
						<h6>(COO Mero Bazzar Pvt Ltd.)</h6>
					</div>
				</div>
			</ng-template>
			<ng-template ngbSlide>
				<div class="picsum-img-wraper">
					<img src="assets/promotion/white.jpg" alt="img2">
				</div>
				<div class="carousel-bott">
					<div class="c-left">
						<img src="assets/promotion/img (2).png" alt="image">
						<p>Mero Bazzar has a solid financial foundation, and we are carefully managing our 
							resources to ensure sustainable growth. I am confident in our ability to make smart
							 financial decisions that will support the long-term success of the company.
						</p>
						<h4>Emily Williams</h4>
						<h6>(CFO Mero Bazzar Pvt Ltd.)</h6>
					</div>

					<div class="c-right">
						<img src="assets/promotion/img (3).png" alt="image">
						<p>Mero Bazzar has a unique value proposition that sets us apart from our competitors. 
							I am confident that our marketing strategies will effectively communicate this value
							 to our target customers and drive strong demand for our products and services.
						</p>
						<h4>Christopher Williams</h4>
						<h6>(CMO Mero Bazzar Pvt Ltd.)</h6>
					</div>
				</div>
			</ng-template>
			<ng-template ngbSlide>
				<div class="picsum-img-wraper">
					<img src="assets/promotion/white.jpg" alt="Random third slide">
				</div>
				<div class="carousel-bott">
					<div class="c-left ">
						<img src="assets/promotion/img.png" alt="image">
						<p>Mero Bazzar has a cutting-edge technology platform that enables us to deliver a seamless
							 and personalized shopping experience for our customers. I am excited to continue 
							 developing and improving our technology to support the growth of the company.
						</p>
						<h4>John Davis</h4>
						<h6>(CTO Mero Bazzar Pvt Ltd.)</h6>
					</div>

					<div class="c-right ">
						<img src="assets/promotion/imh.png" alt="image">
						<p>Mero Bazzar has a talented and dedicated team that is committed to the success of the
							 company. I am focused on ensuring that we have the right people in the right roles 
							 and that they have the support and resources they need to thrive.
						</p>
						<h4>Elizabeth Rodriguez</h4>
						<h6>(CHRO Mero Bazzar Pvt Ltd.)</h6>
					</div>
				</div>
			</ng-template>
		</ngb-carousel>

	</div>

</div>

<!--footer-->
<div class="contact">
      <img src="assets/logo mbazar.png" alt="logo">
</div>